#boxes {
    display: flex;
    height: 350px;
    width: 400px;
    justify-content: center;
}

button {
    height: 40px;
    width: 100px;
    margin-left: 31px;
    margin-top: 13px;
    border: 3px solid black;
    font-size: xx-large;
}

table,
td {
    border: 3px solid black;
}

td {
    width: 100px;
    height: 40px;
}